@media (max-width: 800px) {
    main {
        max-width: 800px;
    }

    header h1 {
        font-size: 2em;
    }

    #menu {
        display: block;
        text-align: left;
        padding: 0;
        margin: 0;
    }

    #menu li {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
    }

    #menu li a {
        font-size: 1.1em;
        padding: 3%;
    }

    nav h2 {
        font-size: 2em;
    }

    section {
        font-size: 0.8em;
    }

    section a h3 img {
        height: 50%;
        width: 50%;
    }

    .wliss {
        display: block;
        position: static;
        margin: 10% auto 0 auto;
    }
}

@media (max-width: 400px) {
    section a img {
        height: 50%;
        width: 50%;
    }

    span {
        font-size: 1.4em;
    }
}